body{
    background-color: black;
}

.master{
    position: fixed;
    z-index: -1;/*最背面に設定*/
    height: 100vh;
    width: 100vw;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
    size-adjust: 100%;
}